@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hubballi&family=Palette+Mosaic&display=swap');

nav{
    background-color: rgb(40, 133, 120);
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    border:rgb(207, 129, 26) dashed 10px;
    width: 100%;
    color: whitesmoke;
}
nav li{
    display: inline-block;
    font-size:  18px;
    padding: 15px;
}

table{
    background-color: rgb(53, 64, 163);
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

body{
    background-color: darkolivegreen;
}

img{
    border:rgb(53, 64, 163) solid 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body{
    font-family: 'Palette Mosaic', cursive;
}

.Producto2{
    text-align: center;
}

.Producto1{
    text-align: center;
}
