body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/800px-NGC_4414_%28NASA-med%29.jpg");
    background-attachment: fixed;
    background-position: center;
    height: 300px;
}
.principal, header{
    background-color: #9fa8da;
    width:100%;
}
footer{
    background-color: #81c784;
    height:100px;
    width:20%;
    margin:auto;
}
.principal{
    background-color: #f48fb1;
}
.principal, footer, header{
    border: 1px #000000 solid;
    margin:10px 5px 15px 20px;
    padding: 10px;
}
h1, p{
    margin: 50px;
    padding: 10px;
    text-align: justify;
}
footer{
    margin: auto;
}