.topnav{
    background-color: white;
    overflow:hidden;
}

/*Poner estilo a los links dentro del nav bar*/
.topnav a{
    color:black;
    display: inline-block;
    font-size: 17px;
    padding:14px 16px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

/*Cambiar el color de los links en hover*/
.topnav a:hover{
    background-color: gainsboro;
    color:black;
}

/*estilo del elemento "active" para dar highlight a la página en caso de*/
/*Poner estilo a la search box del nav*/
.topnav input[type=text] {
    border:none;
    border-radius: 10px;
    float:inline-start;
    font-size: 17px;
    margin-top: 8px;
    margin-right:16px;
    padding:6px;
    width:500px;
}

/*Cuando la pantalla mide menos de 600px de ancho, poner los links verticales en lugar de horizontales*/
@media screen and (max-width:600px){
    .topnav a, .topnav input[type=text]{
        display: block;
        float:none;
        margin:0;
        padding:14px;
        text-align: left;
        width: 100%;
    }
    .topnav input[type=text]{
        border: 10px solid #ccc; 
    }
}

img{
    padding:10px;
    width: 45px;    
}

body{
    background-color: #fff;
    margin:0 38px;
    padding:0;
}

.contenedor{
    margin:15px 15px 15px 15px;
    width:100%;
    
}
.elemento{
    background: #fff;
    box-shadow: 0 1px 2px 0;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width:220px;
}

.elemento{
    border-radius: 20px;
    font-size: 13px;
    padding:0px;

}
.elemento img{
    border-radius: 20px;
    padding: 0;
    width:100%;
}

